#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	# Install the binary to /usr/bin
	mkdir -p debian/tty-egpf-monitor/usr/bin
	cp build/sermon debian/tty-egpf-monitor/usr/bin/tty-egpf-monitor

override_dh_auto_clean:
	# Clean build artifacts
	rm -rf build/
	dh_auto_clean
