[Unit]
Description=TTY eBPF monitor daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/tty-egpf-monitord --socket /run/tty-egpf-monitord.sock --log-dir /var/log/tty-egpf-monitor
ExecStartPost=/bin/chmod 0666 /run/tty-egpf-monitord.sock
Restart=on-failure
User=root
Group=root
RuntimeDirectory=tty-egpf-monitord
AmbientCapabilities=CAP_BPF CAP_PERFMON CAP_NET_ADMIN
CapabilityBoundingSet=CAP_BPF CAP_PERFMON CAP_NET_ADMIN
LimitMEMLOCK=infinity
RestartSec=2s

[Install]
WantedBy=multi-user.target


