[Unit]
Description=TTY eBPF monitor daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/tty-egpf-monitord --socket /run/tty-egpf-monitord.sock --log-dir /var/log/tty-egpf-monitor
Restart=on-failure
User=root
Group=root
RuntimeDirectory=tty-egpf-monitord
AmbientCapabilities=CAP_BPF CAP_NET_ADMIN

[Install]
WantedBy=multi-user.target


